.Notification{
    font-size: 2.5vw;
    background-color: #814A2C;
    display: flex;
    border-radius: 5px;
    width: 60%;
    margin: 0.5% 20% 0% 20%;
    color: aliceblue;
    padding: 1%;
}
.Notification img{
    width: 4%;
    height: 2.5vw;
    margin: 0.9% 1% 0% 8%;
    
}
h2{
    font-size: 2vw;
    font-weight: lighter;
}
.Notification p{
    font-size: 1vw;
    color: #DADADA;
}