.MyOrder {
    background-color: #EBC27C;
    padding: 0.5%;
    width: 10%;
    font-size: 1.5vw;
    text-align: center;
    margin-left: 15%;
    border-radius: 5px;
}

.MyOrderField {
    background-color: #4A362B;
    width: 60%;
    padding: 0.5% 0% 1% 2%;
    margin: 1% 20% 0% 20%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.MyOrderField img {
    width: 2.8%;
    height: 1.5vw;
}

.column p {
    padding-left: 2%;
    font-size: 1.1vw;
    color: white;
}

.column {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.row {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}