.MySales {
    background-color: #EBC27C;
    width: 10%;
    font-size: 1.5vw;
    text-align: center;
    margin-left: 15%;
    border-radius: 5px;
}

.MySalesField {
    width: 60%;
    margin: 1% 20% 0% 20%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.MySalesField img {
    width: 2.8%;
    height: 1.5vw;
}

.column-flex p {
    padding-left: 2%;
    font-size: 1.1vw;
    color: white;
}

.column-flex {
    display: flex;
    flex-direction: column;
    overflow: hidden;
 
}

.row-flex {
    display: flex;
    flex-direction: row;
}

.TimeAndDate {
    margin-top: 13%;
    color: #DADADA;
    font-size: 1vw;
}
button.MySales {
    width: 20%;
    color: white;
    border-radius: 8px;
    background-color: #4a362b;
    margin: 1% 0% 2% 40%;
    font-size: 1.5vw;
}