@font-face {
  font-family: Manrope;
  src: url(./font/manrope.woff);
}

@font-face {
  font-family: Supermarket;
  src: url(./font/supermarket.woff);
}

.textS {
  font-family: Supermarket, Helvetica, Arial, sans-serif;
}

.textM {
  font-family: Manrope, Helvetica, Arial, sans-serif;
}

.textSe {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  top: 0px;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.border {
  border: 1px solid;
}

h1 {
  font-size: 4vw;
  font-weight: lighter;
  text-align: center;
  padding: 1%;
}

